- if (errors = @newsletter.errors.full_messages).present?
  $('#new_newsletter .errors').html("#{errors.join '.' }");
- else
  $('#new_newsletter').parent().append('Thank you! We have added your e-mail address.');
  $('#new_newsletter').hide();