div.nodes {
  margin-top: 20px;

  div.node {
    margin: 10px 0 !important;
    border: 1px solid #ddd;

    .panel-header {
      padding: 10px 0 0 15px;
      font-size: 18px;
      font-weight: bold;
    }
    .panel-body {
      height: 100px;
    }
    .panel-footer {
      font-size: 12px;
    }
  }
}

#new_node, .edit_node {
  width: 450px;
}

#menu-nodes-container {
  margin-bottom: 20px;
}